/*------------------------------------------------------------
# Global classes
------------------------------------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: hsl(291, 32%, 9%);
}
@font-face {
    font-family: "mountains";
    src: url(fonts/beyond_the_mountains.ttf);
    src: url(fonts/beyond_the_mountains.otf);
    font-weight: 400;
}
/*------------------------------------------------------------
# site-header
------------------------------------------------------------*/
.home-page {
    background: url(images/middle-cover.jpg) no-repeat;
}

.site-header {
    position: relative;
    width: 100%;
}

.site-header figure {
    margin: 0;
    padding: 0;
}

.site-header figure img {
    max-width: 100%;
}
/*------------------------------------------------------------
## header-bar
------------------------------------------------------------*/
.site-header .header-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 40px 0;
}

.header-bar .site-branding {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 800;
}

.header-bar .site-branding a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
